.contacts {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: $grey;
    &__subtitle {
        margin-bottom: 0.5rem;
        grid-row: 1 / 2;
    }
    &__title {grid-row: 2 / 3;}
    &__subtitle,
    &__title {
        grid-column: 1 / 13;
        justify-self: center;
    }
    &__form {
        grid-row: 3 / 4;
        grid-column: 1 / 13;
        width: 100%;
        display: flex;
        justify-content: space-between;
        &_input {
            font-size: 1rem;
            padding: 0.5rem;
            width: 19.5rem;
            height: 4rem;
            border: none;
            border-radius: 0.5rem;
        }
        &_button {
            border: none;
            width: 19.5rem;
            border-radius: 0.5rem;
            background: $color-2;
            color: $white;
            @extend %transition;
            &:hover {
                cursor: pointer;
                transform: scale(1.03);
            }
        }
    }
    &__required,
    &__agreement {
        margin-top: 1rem;
        grid-row: 4 / 5;

    }
    &__required {
        grid-column: 1 / 6;
    }
    &__agreement {
        grid-column: 10 / 13;
        text-align: center;
    }
}